@charset "utf-8";
/* CSS Document */
@import url(https://theme-park.dev/css/base/overseerr/overseerr-base.css);
.react-chroma-dark {
  --color-background-accent: #7E27D3;
  --color-brand-accent: #974ede;
  --main-bg-color: #1f1f1f;
  --modal-bg-color: #1b1b1b;
  --link-color: #fff;
  --button-color: #974ede !important;
  --button-color-hover: #974ede;
  --accent-color: 151, 78, 222;
  --plex-poster-unwatched: #fff;
  --color-background-accent: #7E27D3;
  --text: #fff;
  --text-hover: #fff;
  --drop-down-menu-bg: #1f1f1f;
  --color-background-accent: #7E27D3;
  --color-background-accent-focus: #974ede ;
  --bs-primary: #7E27D3 ;
  --color-text-accent: #974ede;
  --color-text-on-accent: #fff;
  --zIndex-overlay: 1009;
}
:root {
  --color-background-accent: #7E27D3;
  --color-brand-accent: #974ede;
  --main-bg-color: #1f1f1f;
  --modal-bg-color: #1b1b1b;
  --link-color: #fff;
  --button-color: #974ede;
  --button-color-hover: #974ede;
  --accent-color: 151, 78, 222;
  --plex-poster-unwatched: #fff;
  --color-background-accent: #7E27D3;
  --text: #fff;
  --text-hover: #fff;
  --drop-down-menu-bg: #1f1f1f;
  --color-background-accent: #7E27D3;
  --color-background-accent-focus: #974ede ;
  --bs-primary: #7E27D3 ;
  --color-text-accent: #974ede;
  --color-text-on-accent: #fff;
  --zIndex-overlay: 1009;
}
/* Desktop Only */
@media (min-width: 1024px) {

}
/* Except Desktop */
@media (max-width: 1023px) {

}
/*Mobile Only*/
@media (max-width: 639px) {

}
div:has( > div.sidebar) {
  display: none;
}
.lg\:ml-64 {
  margin-left: 0;
}
.lg\:left-64 {
  left: 0;
}
[aria-label*="Open sidebar"]{
  display: none;
}
button.pwa-only {
  display: none;
}
::-webkit-scrollbar {
  width: 15px;
  height: 14px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 3px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background: hsla(0, 0%, 100%, 0.2);
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
