@charset "utf-8";
/* CSS Document */
@import url(https://theme-park.dev/css/base/plex/plex-base.css);
.react-chroma-dark {
  --color-background-accent: #7E27D3;
  --color-brand-accent: #974ede;
  --main-bg-color: #1f1f1f;
  --modal-bg-color: #1b1b1b;
  --link-color: #fff;
  --button-color: #974ede !important;
  --button-color-hover: #974ede;
  --accent-color: 151, 78, 222;
  --plex-poster-unwatched: #fff;
  --color-background-accent: #7E27D3;
  --text: #fff;
  --text-hover: #fff;
  --drop-down-menu-bg: #1f1f1f;
  --color-background-accent: #7E27D3;
  --color-background-accent-focus: #974ede ;
  --bs-primary: #7E27D3 ;
  --color-text-accent: #974ede;
  --color-text-on-accent: #fff;
  --zIndex-overlay: 1009;
  --logo-image-url:  url("/logo_full.png");
  --logo-sm-url:  url("/streamarr-logo-512x512.png");
}
:root {
  --color-background-accent: #7E27D3;
  --color-brand-accent: #974ede;
  --main-bg-color: #1f1f1f;
  --modal-bg-color: #1b1b1b;
  --link-color: #fff;
  --button-color: #974ede;
  --button-color-hover: #974ede;
  --accent-color: 151, 78, 222;
  --plex-poster-unwatched: #fff;
  --color-background-accent: #7E27D3;
  --text: #fff;
  --text-hover: #fff;
  --drop-down-menu-bg: #1f1f1f;
  --color-background-accent: #7E27D3;
  --color-background-accent-focus: #974ede ;
  --bs-primary: #7E27D3 ;
  --color-text-accent: #974ede;
  --color-text-on-accent: #fff;
  --zIndex-overlay: 1009;
  --logo-image-url:  url("/logo_full.png");
  --logo-sm-url:  url("/streamarr-logo-512x512.png");
}
.font-base {
  font-weight: 700!important;
}
svg {
  display: initial;
}
/*Alt Logo*/
[class*="NavBar-logoContainer-"] {
  background-image: var(--logo-image-url);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  width: 190px;
}
[class*="NavBar-logoContainer-"] svg {
  display: none;
}
[class*="NavBar-logoContainer-"] a {
  width: 100%;
}
@media (min-width: 1024px) {
  [class*="SidebarContainer-sidebarContainer-"] {
    z-index: 1;
    position: relative;
    background-color: #1b1b1b
  }
  [class*="Page-pageScroller-"] {
    margin-left: 14rem;
  }
  [class*="scroll-container"]:has(> [class="container"]){
    margin-left: 14rem;
  }
  [class*="PlayerContainer-container-"] {
    z-index: 1007;
  }
  [class*="NavBarActivityButton-container-"] {
    margin-right: 3.5rem;
  }
  [class*="PrePlayReviewsPage-page-"]{
    margin-left: 14rem;
  }
}
@media (max-width: 1023px) {
  [aria-label="Home"] svg {
    display: none;
  }
  [aria-label="Home"] {
    padding: 0;
  }
}
/*Mobile Only*/
@media (max-width: 639px) {
  [class*="DirectoryListJumpBar-jumpBar-"] {
    margin: 0 0 56px 0;
  }
  [class*="PageContent-pageContentScroller-"] {
    padding-bottom: 4rem ;
  }
  [class*="ControlsContainer-controlsContainer-"] {
    height: fit-content;
  }
  [class*="Player-miniPlayerContainer-"] > div {
    bottom: 70px !important;
  }
  [class*="PlayerControls-buttonGroupLeft-"] {
    margin-top: 10px;
  }
  div:has( > [data-testid="cellItem"]), [data-testid="metadata"]{
    margin-left: auto;
    margin-right: auto;
  }
  [class*="VirtualHubScroller-hubScroller-"] > div {
    width: 100% !important;
  }
  [class*="DirectoryListPageContent-pageContentScroller-"] > div {
    margin-left: auto;
    margin-right: auto;
  }
  [class*="StreamingServicesUpsellHub-content-"] > div {
    flex-direction: column;
  }
  [class*="NavBarActivityButton-container-"] {
    display: none ;
  }
  [class*="Player-miniPlayerContainer-"] {
    margin-bottom: 4rem;
  }
}
/*Mobile Friendly*/
@media (max-width: 769.98px) {
  [class*="SidebarContainer-sidebarContainer-"] {
    display: none ;
  }
  [class*="PageHeader-pageHeader-"] {
    height: 60px ;
    padding-left: 1rem ;
    padding-right: 1rem ;
  }
  .scroll-container {
    padding: 0 ;
  }
  [class*="CurrentSourceBreadcrumb-container-"] {
    margin: 0 ;
  }
  [class*="PlayerControls-controls-"] {
    width: 100vw;
  }
  [class*="TabButton-button-"] {
    padding: 0 ;
  }
  [class*="PageHeaderCenter-pageHeaderCenter-"] {
    max-width: 108px ;
  }
  [class*="PageHeaderLeftGutter-container-"] {
    left: -12px ;
  }
  [class*="PageContent-pageContentScroller-"] {
    margin-left: -26px ;
  }
  .user-select-modal-pin-container {
    -webkit-transform: scale(0.67);
       -moz-transform: scale(0.67);
            transform: scale(0.67);
  }
  .user-select-modal {
    max-width: 100%;
    overflow: hidden;
  }
  .user-select-list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  [class*="FirstRunExperienceStep-container-"] {
    width: 100%
  }
  [class*="FirstRunExperienceStep-stepContainer-"] {
    width: 100% ;
  }
  [class*="ControlsContainer-controlsContainer-"] {
    min-width: 100vw ;
  }
  [class*="NavBar-logoContainer-"] {
    background-image: var(--logo-sm-url);
    width: 45px;
  }
}
@media (max-width: 452px) {
  [class*="PageHeaderLeft-pageHeaderLeft-"], [class*="PageHeaderRight-pageHeaderRight-"] {
    overflow: revert ;
  }
  [class*="PageHeaderRight-pageHeaderRight-"] > [class*="ActionButtonBar-bar-"] {
    display: none ;
  }
}
@media (max-width: 390px) {
  [class*="DirectoryListJumpBar-jumpBar-"] {
    display: none ;
  }
}
/*Position Corrections*/
[class*="NavBar-right-"] {
  padding-left: 0 ;
}
[class*="SettingsPage-content-"] {
  padding-top: 1rem;
  padding-bottom: 4rem
}
[class*="UserSelectModal-darkModalBackdrop-"] {
  z-index: 1050;
}
[class*="StreamingServicesUpsellHub-container-"] {
	margin: 5px 5px 5px 40px;
	padding: 20px 20px 20px 20px;
}
[class*="StreamingServicesUpsellHub-text-"] {
	margin-bottom: 20px;
}
[aria-label="Select Player"] {
  padding: 0;
}
/*Object Hiding*/
[class*="NavBarButton-button-"] {
  display: none ;
}
[class*="NavBar-buttonSeparator-"] {
  display: none;
}
[class*="SourceSidebar-sidebarUnderlay-"] {
  display: none;
}
[aria-label*="Settings"] {
  display: none ;
}
[title*="Settings"] {
  display: inherit;
}
[class*="SourceSidebar-sidebar-"] {
  display: none ;
}
[class*="PivotTabsPageHeaderCenter-pageHeaderCenter-"] {
  display: none ;
}
[class*="PageHeaderBadge-badge-"] {
  display: none ;
}
[aria-label="Collapse"] {
  display: none
}
[target*="_self"] {
  display: none;
}
/*Color Corrections*/
[class*=MetadataPosterCardProgressBar-bar-], [class*=PosterCardOverlayProgress-progressBar-], [class*=SeekBar-seekBarFill-], [class*=SessionTile-playProgressPercent-], [class*=VolumeSlider-fill-] {
  background-color: #974ede !important;
}
.card {
  background-color: #171717 ;
}
.card-announcement .thumb {
  filter: brightness(0) saturate(100%) invert(19%) sepia(100%) saturate(2935%) hue-rotate(265deg) brightness(83%) contrast(99%);
}
.label-primary[href]:focus, .label-primary[href]:hover {
  background-color: #2b0b53;
}
/*top menu*/
@media all and (display-mode: browser) {
  [class*="NavBar-container-"] {
  margin: 0 ;
  padding: 0 0 0 1rem;
  height: 61px;
  }
  @media (min-width: 640px) {
    [class*="NavBar-container-"] {
      padding: 0 0 0 3.5rem;
    }
  }
  @media (min-width: 1024px) {
    [class*="NavBar-container-"] {
      padding: 0 0 0 1rem;
    }
  }
}
@media all and (display-mode: standalone) {
  [class*="NavBar-container-"] {
  margin: 0 ;
  padding: 0 0 0 3.5rem;
  height: 61px;
  }
  @media (min-width: 640px) {
    [class*="NavBar-container-"] {
      padding: 0 0 0 6.3rem;
    }
  }
  @media (min-width: 1024px) {
    [class*="NavBar-container-"] {
      padding: 0 0 0 3.5rem;
    }
  }
}

@media (min-width: 640px) {
  [aria-label*="Account Menu"] {
    margin-right: 4rem;
  }
}
[class*="PlexHeaderImage-plexImage-"] {
  background-image: var(--logo-image-url);
  width: 100%;
}
[class*="PlexHeaderImage-plexImageContainer-"]{
  width: 100%;
}
/*Nav Corrections*/
[classs*="FirstRunExperienceStep-stepContainer-"] {
    width: 100% ;
}
[class*="ControlsContainer-controlsContainer-"] {
	min-width: 100vw ;
}
@media (max-width: 452px) {
  [class*="PageHeaderLeft-pageHeaderLeft-"], [class*="PageHeaderRight-pageHeaderRight-"] {
    overflow: revert ;
  }
  [class*="PageHeaderRight-pageHeaderRight-"] > [class*="ActionButtonBar-bar-"] {
    display: none ;
  }
}
@media (max-width: 390px) {
  [class*="DirectoryListJumpBar-jumpBar-"] {
    display: none ;
  }
}
@media (min-width: 1024px) {
  [class*="LiveTVViewPage-page-"] {
    margin-left: 12rem;
  }
}
[class*="SignInLaunchPagePoll-button-"]:after {
  content: ' to authorize Streamarr...';
}
[class*="SignInLaunchPagePoll-button-"] [class*="SpinnerButton-label-"] {
  display: none;
}
[class*="SignInLaunchPagePoll-button-"]:before {
  content: ' Click';
}
[class*="PageHeaderLeftGutter-container"] {
  position: relative;
}
.announcements-container {
  margin: 1rem 0 0 0;
}
[class*="SignInLaunchPagePoll-page-EgO9ex"] {
  z-index: 1007;
  background-color: #121212;
}
[class*="UserSelectModal-darkModalBackdrop-"] {
  background-color: #121212;
}
.modal-dialog {
    height: 100vh;
    align-content: center;
    padding: 0;
}
.btn-danger {
  background-color: #ac3323;
}
.form-footer {
  margin-bottom: 1rem;
}
[class*="Spinner-spinner-"], .loading {
  pointer-events: none;
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 1.5rem /* 24px */;
  background-color: currentColor;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_qM83%7Banimation:spinner_8HQG 1.05s infinite%7D.spinner_oXPr%7Banimation-delay:.1s%7D.spinner_ZTLf%7Banimation-delay:.2s%7D@keyframes spinner_8HQG%7B0%25,57.14%25%7Banimation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)%7D28.57%25%7Banimation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)%7D100%25%7Btransform:translate(0)%7D%7D%3C/style%3E%3Ccircle class='spinner_qM83' cx='4' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_oXPr' cx='12' cy='12' r='3'/%3E%3Ccircle class='spinner_qM83 spinner_ZTLf' cx='20' cy='12' r='3'/%3E%3C/svg%3E");
  --tw-text-opacity: 1;
  color: var(--fallback-p,oklch(var(--p)/var(--tw-text-opacity)));
  margin-top: 0.5rem /* 8px */;
  animation: none;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  height: auto;
}
.loading-sm {
  width: 1.2rem;
}
[class*="EmptyPageContent-content-"]:has([aria-label="Loading"]):before {
  content: 'Loading ';
  margin-right: 5px;
}
[class*="EmptyPageContent-content-"]:has([aria-label="Loading"]){
  flex-direction: row;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}
.btn-default {
  background-color: #974ede;
  color: #fff;
}
.btn-default:hover {
  background: #7E27D3;
}
.label {
  display: initial;
}
.label-primary {
  background-color: #974ede;
}
.label-primary:hover:hover {
  background-color: #7E27D3;
}
select {
  color: initial;
}
hr {
  margin: 1rem 0 1rem 0;
}
button:has( > [title="Go Premium"]) {
  display: none;
}
div:has(> [role="separator"][aria-orientation="vertical"]) {
  display: none;
}
[data-testid*="requestsModal"] {
  z-index: 1010;
}
html, body {
  touch-action: auto;
}
.plex-logo {
  background-image: var(--logo-image-url) !important
}
[class*="NavBarAccountMenu-disclosure-"] > div > [class*="ImagePoster-flex-"]:has(img) > img {
  display: none;
}
[class*="NavBarAccountMenu-disclosure-"] > div:has([class*="ImagePoster-flex-"]):has(img) {
  background-image: url("https://www.plex.tv/wp-content/themes/plex/assets/img/plex-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  background-color: transparent;
}
.list-circle {
  list-style-type: circle;
}

code {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0.375rem;
  background-color: var(--fallback-b1,oklch(var(--b1)/0.75));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

:root {
  --fa-animation-duration: 2s;
}

.fa-bounce {
  animation-name: fa-bounce;
  animation-delay: var(--fa-animation-delay, 0s);
  animation-direction: var(--fa-animation-direction, normal);
  animation-duration: var(--fa-animation-duration, 1s);
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  animation-timing-function: var(
    --fa-animation-timing,
    cubic-bezier(0.28, 0.84, 0.42, 1)
  );
}

@keyframes fa-bounce {
  0% {
    transform: scale(1) translateY(0);
  }

  10% {
    transform: scale(
        var(--fa-bounce-start-scale-x, 1.1),
        var(--fa-bounce-start-scale-y, 0.9)
      )
      translateY(0);
  }

  30% {
    transform: scale(
        var(--fa-bounce-jump-scale-x, 0.9),
        var(--fa-bounce-jump-scale-y, 1.1)
      )
      translateY(var(--fa-bounce-height, -0.5em));
  }

  50% {
    transform: scale(
        var(--fa-bounce-land-scale-x, 1.05),
        var(--fa-bounce-land-scale-y, 0.95)
      )
      translateY(0);
  }

  57% {
    transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
  }

  64% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

*,
[class*='Scroller-scroller-'],
*:hover {
  scrollbar-color: auto;
}

::-webkit-scrollbar {
  width: 15px;
  height: 14px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 3px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background: hsla(0, 0%, 100%, 0.2);
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media all and (display-mode: browser) {
  .pwa-only {
    display: none;
  }
}
