name: Cypress Tests

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - develop

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # https://github.com/cypress-io/github-action/issues/48
      matrix:
        containers: [1, 2] # Uses 2 parallel instances
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install and Enable Corepack
        run: npm install -g corepack --force && corepack enable
      - name: set node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'yarn'
      - name: Cypress run
        uses: cypress-io/github-action@v7
        with:
          build: yarn cypress:build
          start: yarn start
          wait-on: 'http://localhost:3000'
          record: true
          parallel: true # Runs test in parallel using settings above
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_MIGRATIONS: true
          COMMIT_INFO_MESSAGE: ${{github.event.pull_request.title}}
          COMMIT_INFO_SHA: ${{github.event.pull_request.head.sha}}
